<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduate.luggagedelivery.rest_server.dao.TTransportOrderMapper">
  <resultMap id="BaseResultMap" type="com.graduate.luggagedelivery.rest_server.entity.TTransportOrder">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="trans_id" jdbcType="BIGINT" property="transId" />
    <result column="user_order_id" jdbcType="BIGINT" property="userOrderId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, trans_id, user_order_id
  </sql>
  <select id="selectByExample" parameterType="com.graduate.luggagedelivery.rest_server.entity.TTransportOrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_transport_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_transport_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_transport_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.graduate.luggagedelivery.rest_server.entity.TTransportOrderExample">
    delete from t_transport_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.graduate.luggagedelivery.rest_server.entity.TTransportOrder">
    insert into t_transport_order (id, trans_id, user_order_id
      )
    values (#{id,jdbcType=BIGINT}, #{transId,jdbcType=BIGINT}, #{userOrderId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.graduate.luggagedelivery.rest_server.entity.TTransportOrder">
    insert into t_transport_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="transId != null">
        trans_id,
      </if>
      <if test="userOrderId != null">
        user_order_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="transId != null">
        #{transId,jdbcType=BIGINT},
      </if>
      <if test="userOrderId != null">
        #{userOrderId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.graduate.luggagedelivery.rest_server.entity.TTransportOrderExample" resultType="java.lang.Long">
    select count(*) from t_transport_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_transport_order
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.transId != null">
        trans_id = #{record.transId,jdbcType=BIGINT},
      </if>
      <if test="record.userOrderId != null">
        user_order_id = #{record.userOrderId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_transport_order
    set id = #{record.id,jdbcType=BIGINT},
      trans_id = #{record.transId,jdbcType=BIGINT},
      user_order_id = #{record.userOrderId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.graduate.luggagedelivery.rest_server.entity.TTransportOrder">
    update t_transport_order
    <set>
      <if test="transId != null">
        trans_id = #{transId,jdbcType=BIGINT},
      </if>
      <if test="userOrderId != null">
        user_order_id = #{userOrderId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.graduate.luggagedelivery.rest_server.entity.TTransportOrder">
    update t_transport_order
    set trans_id = #{transId,jdbcType=BIGINT},
      user_order_id = #{userOrderId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>